<launch>
  <node pkg="fdilink_ahrs" name="imu_tf" type="imu_tf" output="screen" >
    <param name="imu_topic"  value="/extra/imu"/>
    <param name="world_frame_id"  value="world"/>
    <param name="imu_frame_id"  value="body"/>
    <param name="position_x"  value="0"/>
    <param name="position_y"  value="0"/>
    <param name="position_z"  value="0"/>

  </node>
</launch> 
